{% load static %}
<link rel="stylesheet" href="{% static 'custom.css' %}">
<nav class="bg-slate-600 ">
  <div class="max-w-6xl mx-auto px-2">
    <div class="flex justify-between">

      <div class="flex space-x-4">
        <!-- logo -->
        <div>
          <a href="/" class="flex items-center py-5 px-2 text-gray-700 hover:text-gray-900">
            <svg class="h-6 w-6 mr-1 text-blue-400 jon " xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <img style=" width: 70px; height: 70px; margin-right: 20px;" class="jon"
                src="{% static 'images/pe.png' %}" alt="">
            </svg>
            <span class="font-bold">Forun</span>
          </a>
        </div>
        <!-- primary nav -->



    {% if request.user.is_authenticated %}
    <div class="hidden md:flex items-center space-x-1">
      <a href="{% url 'publicacion_lista' %}" class="py-5 px-3 text-white hover:text-gray-900">Publicaciones</a>
      <a href="   {% url 'publicacion_nueva' %}" class="py-5 text-white hover:text-gray-900">Publicar</a>
      <a href="{% url 'imagenes' %}" class="py-5 px-3 text-white hover:text-gray-900">imaganes</a>
      <a href="{% url 'videos' %}" class="py-5 px-3 text-white hover:text-gray-900">videos</a>


    </div>
  </div>
  <div class="hidden md:flex items-center space-x-1">
    <a href="{% url 'logout_user' %}"
      class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-red-900 hover:text-yellow-800 rounded transition duration-300">Cerrar sesion</a>
  </div>

  {% else %}
  <div class="hidden md:flex items-center space-x-1">
    <a href="{% url 'publicacion_lista' %}" class="py-5 px-3 text-white hover:text-gray-900">Publicaciones</a>
    <a href="   {% url 'publicacion_nueva' %}" class="py-5 px-3 text-white hover:text-gray-900">Publicar</a>
    <a href="{% url 'imagenes' %}" class="py-5 px-3 text-white hover:text-gray-900">imaganes</a>
    <a href="{% url 'videos' %}" class="py-5 px-3 text-white hover:text-gray-900">videos</a>


  </div>
</div>

  <div class="hidden md:flex items-center space-x-1">

    <a href="{% url 'login' %}" class="py-5 px-3">Ingresar</a>
    <a href="{% url 'register' %}"
      class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Registrate</a>
  </div>

  {% endif %}







      
    </div>

      








      <!-- secondary nav -->


      <!-- mobile button goes here -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

    </div>
  </div>








  <!-- mobile menu -->
  <div class="mobile-menu hidden md:hidden otro  flex flex-col">
      {% if request.user.is_authenticated %}
        <div class="perros">
          <a href="{% url 'publicacion_lista' %}" class=" mx-4 py-5 px-3 text-white hover:text-white">Publicaciones</a>
        <a href="   {% url 'publicacion_nueva' %}" class="  mx-4 py-5 px-3 text-white hover:text-gray-900">Publicar</a>
        <a href="{% url 'imagenes' %}" class=" mx-4 py-5 px-3 text-white hover:text-gray-900">imaganes</a>
        <a href="{% url 'videos' %}" class=" mx-4 py-5 px-3 text-whitehover:text-gray-900">videos</a>


    
        
        </div>
        <a href="{% url 'logout_user' %}" class=" mx-4 mt-5 py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Cerrar sesion</a>
 

      {% else %}
      <div class="nordel flex flex-col">
        
        <a href="{% url 'publicacion_lista' %}" class="mx-4 py-5 px-3 text-gray-700 hover:text-gray-900">Publicaciones</a>
        <a href="   {% url 'publicacion_nueva' %}" class=" mx-4 py-5 px-3 text-gray-700 hover:text-gray-900">Publicar</a>
        <a href="{% url 'imagenes' %}" class=" mx-4 py-5 px-3 text-gray-700 hover:text-gray-900">imaganes</a>
        <a href="{% url 'videos' %}" class=" mx-4 py-5 px-3 text-gray-700 hover:text-gray-900">videos</a>
      </div>



  

        <a href="{% url 'login' %}" class="  mx-4 mt-5  py-5 px-3">Ingresar</a>
        <a href="{% url 'register' %}" class=" mx-4  mt-5 py-2 px-3 bg-red-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">Registrate</a>
  

      {% endif %}
    
  </div>
</nav>

<!-- content goes here -->

<script>
  // grab everything we need
  const btn = document.querySelector("button.mobile-menu-button" );
  const menu = document.querySelector(".mobile-menu");

  // add event listeners
  btn.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });

</script>