
.qwe{
    margin-top: 50px;
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
.grids{
    margin-top: 50px;
    margin-bottom: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 10px;
    
}
.carda{
    
    margin-left: 10px;
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.cardw-thumbnail video{
    width: 100%;
}

.cardw-description{
    padding: 10px;
}

