{% extends '_base.html' %}{% load static %}
{% block content %}
  <p class="qwe">Imagenes</p>
  <div class="cardt-container">
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>
    <div class="cardq">
      <img src="https://cdn.discordapp.com/attachments/781513885458235462/783146943546261524/Neji.png" alt="Imagen 1">
      <div class="cardr-caption">Descripción de la imagen 1</div>
    </div>



  </div>





{% endblock %}
  