{% extends '_base.html' %}
{% block content %}



<style>
    .video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
    }

    .video {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }

    .video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>







<p class="qwe">Videos</p>
<div class="video-grid">

    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/989219928794099763/989478940672397383/VID_20190925_233351_544L2604686.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/981193569098424370/981984441268334592/video0-2.mov
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/786125649232003072/1054539121806282843/video-c3922641294414238fd7f64e12d9492b-V.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="
            https://media.discordapp.net/attachments/786125649232003072/1054521483923308625/div.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/763860707544137759/921468200368107571/received_826481237993841.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/879819846391586847/1003741682082263160/nDZw6LSgXuJwt7Qr.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/763860707544137759/1011582329879269387/vi2mkj.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/786127715769909249/1014083323649343528/IMG_6541.MOV" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1042476982132281354/1055692401710211092/Linkler-Diyar_Boobs5.mp4" type="video/mp4">
        </video>
    </div><div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1042476982132281354/1052752638447460382/Linkler-Diyar_boobs16.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1042476982132281354/1052752392900317276/Linkler-Diyar_boobs12.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1042476982132281354/1052752226709413958/Linkler-Diyar_boobs9.mp4
            " type="video/mp4">
        </video>
    </div>

    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1042476985122820136/1056602634947133460/Linkler-Diyar_Pussy13.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/1028557665347059782/B3A25395-0B81-4FDE-9119-2ADDC5CEE5FF.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/1028557618924490762/1649036360839_1649036360840.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/1028557619444584448/RadiantFluidAcornwoodpecker.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/1028557666013950003/Adobo_Bonus11.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/994826350055653418/bz_as4.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/990117239304888350/ass.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/950813976437096528/991442487455527042/InsubstantialMeatyWhitepelican-mobile.mp4
            " type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1017491171783741480/1061394640328208465/ImpoliteInsignificantCrab-mobile.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381338817036299/1022545244786540544/SexHouseAmator3.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/953012913906544640/1057665472490901594/8mb.video-kgf-zxSgqKRO.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1017491171783741480/1061396305856974868/trim.D22AD237-4F57-4921-B0CA-FA4AECE2B23E-1.mov" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1017491171783741480/1061396239092043836/fAmuXNfZUbC1-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/960693075984937005/976171152969961584/Sasha_Braus_getting_fucked_doggy_AttackOnTitan_https___t.co_hc8V6DQlG0.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="
            https://cdn.discordapp.com/attachments/1017486731710308442/1061324507194855497/VID_20220502_001958_8830.mp4.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/689820150303948895/806731686238486547/video0-14.mp4" type="video/mp4">
        </video>
    </div><div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/973272214646448238/1039263610314162246/video0_6.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="
            https://media.discordapp.net/attachments/689820150303948895/777518430802411560/cd5397dc-57a0-4c0d-9e06-c0fa0e7d720f.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://media.discordapp.net/attachments/689820150303948895/805322329205768192/1o5ZFiV.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1017491656724988067/1061322186863947857/VID_20230107_100505_174.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/1017491656724988067/1061321759531483156/Male___Female_58_1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/931858276889546752/931868017300758538/SexHouse_Public42.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/909490051375824906/933041261731016824/porntube_boobs2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381349395050526/1011781084649885756/Brazzers_Public1219.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381349395050526/1011781084305956956/CloseScarceTapir-mobile.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381349395050526/1011781083995586640/SweatyIcyWaterthrush-mobile.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381349395050526/1011781083462910032/AlvDPJXDLAGmnS8JjlyFB92pFQueXRJ4-2.mp4" type="video/mp4">
        </video>
    </div>
    <div class="video">
        <video controls>
            <source src="https://cdn.discordapp.com/attachments/976381349395050526/1010674389789974528/6-y0LKCcl.mp4" type="video/mp4">
        </video>
    </div>



</div>



<script>
    function changeQuality() {
        var video = document.getElementById("myVideo");
        var qualitySelector = document.getElementById("qualitySelector");
        var selectedQuality = qualitySelector.options[qualitySelector.selectedIndex].value;
        video.src = "video_" + selectedQuality + ".mp4";
    }
    window.addEventListener('resize', function () {
        var galleryWidth = document.querySelector('.gallery').offsetWidth;
        var images = document.querySelectorAll('.gallery img');
        var imageSize = galleryWidth / images.length - 20;

        images.forEach(function (image) {
            image.style.width = imageSize + 'px';
        });
    });


</script>

{% endblock %}